
<!DOCTYPE html>
<html>
<head>
    <title>Travel Modes </title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script src="../static/js/route.js"></script>

</head>
<style>
    #map {
        height: 100%;
        margin-bottom: 75px;
    }

    html,
    body {
        height: 100%;

        padding: 0;

    }
    #floating-panel {

        position: absolute;
        top: 75px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }
    #busroute{

        position: absolute;
        top: 75px;
        /*left: 5%;*/
        right: 48.5%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }
</style>
<link rel="stylesheet" href="./CSS/lsb.css">
<link rel="stylesheet" href="./CSS/HomePage.css" />
<body>
<header>
    <h2> <a th:href="@{/HomePage}" style="text-decoration: none">Bus<span>Map</span></a></h2>
    <ul class="header__list" id="mainNav">
        <li class="header__items">
            <a th:href="@{/HomePage#home}" class="header__link active">TRANG CHỦ</a>
        </li>
        <li class="header__items">
            <a th:href="@{/HomePage#about}" class="header__link">VỀ CHÚNG TÔI</a>
        </li>
        <li class="header__items">
            <a th:href="@{/HomePage#blog}" class="header__link">BLOG</a>
        </li>
        <li class="header__items">
            <a th:href="@{/HomePage#agents}" class="header__link">LIÊN HỆ</a>
        </li>
        <li class="header__items">
            <a th:href="@{/BuyTicket}" class="header__link">MUA VÉ</a>
        </li>
        <li class="header__items">
            <a th:href="@{/busroute}" class="header__link">TUYẾN XE</a>
        </li>
    </ul>
</header>
<div id="floating-panel">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="from" class="col-xs-2 control-label"><i class="far fa-dot-circle"></i></label>
            <div class="col-xs-4">
                <input type="text" id="from" placeholder="Origin" class="form-control">
            </div>
        </div>
        <div class="form-group">

            <label for="to" class="col-xs-2 control-label"><i class="fas fa-map-marker-alt"></i></label>
            <div class="col-xs-4">
                <input type="text" id="to" placeholder="Destination" class="form-control">
            </div>
        </div>
    </form>
    <b>Mode of Travel: </b>
    <select id="mode">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
    </select>

</div>
<div id="busroute">
    <form class="routebus"></form>
    <b>Các Tuyến Bus</b>
    <select id="route">
        <option value="route1">Tuyến 1</option>
        <option value="route2">Tuyến 2</option>
        <option value="route3">Tuyến 3</option>
        <option value="route4">Tuyến 4</option>
        <option value="route5">Tuyến 5</option>
    </select>
</div>
<div id="busroute-1">
    <form class="routebus"></form>
    <b>Các Tuyến Bus</b>
    <select id="route-1">
        <option value="route1">Tuyến 1</option>
        <option value="route2">Tuyến 2</option>
        <option value="route3">Tuyến 3</option>
        <option value="route4">Tuyến 4</option>
        <option value="route5">Tuyến 5</option>
    </select>
</div>
<div id="map"></div>
<script type="text/javascript">
    function initMap() {
        const directionsRenderer = new google.maps.DirectionsRenderer();
        const directionsService = new google.maps.DirectionsService();
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: { lat: 10.762622, lng: 106.660172 },
        });
        directionsRenderer.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsRenderer);
        document.getElementById("mode").addEventListener("change", () => {
            calculateAndDisplayRoute(directionsService, directionsRenderer);
        });
        var save = document.getElementById("route");
        save.addEventListener("change",() =>{
            if (save.value === 'route1')
            {
                routeBus(directionsService, directionsRenderer)
            }
            else if (save.value === 'route2') {
                routeBus2(directionsService, directionsRenderer)
            }
            else if (save.value === 'route3') {
                routeBus3(directionsService, directionsRenderer)
            }
            else if (save.value === 'route4') {
                routeBus4(directionsService, directionsRenderer)
            }
            else {
                routeBus5(directionsService, directionsRenderer)
            }
            console.log(save.value);
        });
        function  routeBus (directionsService, directionsRenderer) {
            const selectedRoute = document.getElementById("route").value;
            directionsService
                .route({
                    origin: {lat: 10.820709934259, lng: 106.69500475864}, //Phạm Văn Đồng
                    destination: {lat: 10.8910087, lng: 106.7720994},
                    travelMode: "TRANSIT",
                })
                .then((response) => {
                    directionsRenderer.setDirections(response);
                })
        }
        function  routeBus2 (directionsService, directionsRenderer) {
            const selectRoute = document.getElementById("route").value;
            directionsService
                .route ({
                    origin: {lat: 10.8356277, lng: 106.6564544}, // Chợ Hạnh Thông Tây
                    destination: {lat:  10.8555748, lng: 106.780618}, // HUTECH Khu E
                    travelMode: "TRANSIT",
                })
                .then((response) => {
                    directionsRenderer.setDirections(response);
                })

        }
        function  routeBus3 (directionsService, directionsRenderer) {
            const selectRoute = document.getElementById("route").value;
            directionsService
                .route ({
                    origin: {lat: 10.860922, lng: 106.748688}, // HCMC National University Dormitory - Zone B
                    destination: {lat: 10.8018552, lng: 106.7107343}, // HUTECH AB
                    travelMode: "TRANSIT",
                })
                .then((response) => {
                    directionsRenderer.setDirections(response);
                })

        }
        function  routeBus4 (directionsService, directionsRenderer) {
            const selectRoute = document.getElementById("route").value;
            directionsService
                .route ({
                    origin: {lat: 10.8017279, lng: 106.710007}, // Khu R
                    destination: {lat: 10.8408081, lng: 106.8067438}, // KHU AB
                    travelMode: "TRANSIT",
                })
                .then((response) => {
                    directionsRenderer.setDirections(response);
                })

        }
        function  routeBus5 (directionsService, directionsRenderer) {
            const selectRoute = document.getElementById("route").value;
            directionsService
                .route ({
                    origin: {lat: 10.8393457, lng: 106.7312163}, //8/12K
                    destination: {lat:  10.7875434, lng: 106.7031019}, // Thảo cầm viên
                    travelMode: "TRANSIT",
                })
                .then((response) => {
                    directionsRenderer.setDirections(response);
                })
        }

    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        const selectedMode = document.getElementById("mode").value;
        directionsService
            .route({
                origin: document.getElementById("from").value,
                destination: document.getElementById("to").value,
                travelMode: google.maps.TravelMode[selectedMode],
            })
            .then((response) => {
                directionsRenderer.setDirections(response);
            })
            .catch((e) => window.alert("Directions request failed due to " + status));
    }

    // function searchMap(loaidiadiem) {
    //     if (!loaidiadiem || loaidiadiem == '')
    //         return;
    //     var request = {
    //         location: {
    //             lat: lati,
    //             lng: longi
    //         },
    //         radius: '10000',
    //         type: loaidiadiem
    //     };
    //     var service = new google.maps.places.PlacesService(bando);
    //     service.nearbySearch(request, showPlaces);
    // }
    // function TimDuong(place) {
    //     var dservice = new google.maps.DirectionsService();
    //     if (ddisplay)
    //         ddisplay.setMap(null);
    //     ddisplay = new google.maps.DirectionsRenderer();
    //     ddisplay.setMap(bando);
    //     var request = {
    //         origin: {
    //             lat: lati,
    //             lng: longi
    //         },
    //         destination: place.geometry.location,
    //         travelMode: 'WALKING',
    //         provideRouteAlternatives: true
    //     };
    //     dservice.route(request, function(result, status) {
    //         if (status == "OK") ddisplay.setDirections(result);
    //     });
    // }

    // function showMap() {
    //     window.navigator.geolocation.getCurrentPosition(function(pos) {
    //         lati = parseFloat(pos.coords.latitude);
    //         longi = parseFloat(pos.coords.longitude);
    //         bando = new google.maps.Map(document.getElementById('map'), {
    //             center: {
    //                 lat: lati,
    //                 lng: longi
    //             },
    //             zoom: 15
    //         });
    //         var diemtrungtam = new google.maps.Marker({
    //             position: {
    //                 lat: lati,
    //                 lng: longi
    //             },
    //             map: bando
    //         }); // Tạo 1 điểm chấm trên bản đồ
    //     });
    //
    // }
</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=&v=weekly"
        async
></script>

</body>
</html>